body{
    background-color: lightgray;
    width: 80%;
}
#imagem_1{
    height: 200;
    width: 200;
    position: absolute;
    top: 30px;
    left: 40px;
    right: 100px;
}
#texto_caixa{
   text-align: center;
   font-size: larger;
   color: darkgreen;
   position: absolute;
     top: 80px;
    left: 765px;
}          
#fogo_imagem{
    position: relative;
    left: 1450px;
    height: 200px;
    width: 200px;
}
.primeiro_quadrado{
    border: 4px solid darkblue;
    background-color: bisque;
    top: 300px;
    padding: 17px;
}
#texto_foto{
    text-align: center;
    word-spacing: 120px;
    color: darkred;
    background-color:  lightskyblue;
    padding: 10px;
}
.titulos{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.texto{
    text-align: center;
    font-size: 23px;
    color: indigo;
}

.imagens{
    text-align: center;
    word-spacing: 120px;
}

#iframe{
    text-align: center;
    word-spacing: 120px;
}

.fixed{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-color: red;
    border-style: dashed;
   
  }

  .cabecalho{
    font-weight: bold;
    color: red;
    padding: 10px;
  }
  .conteudo{
    padding: 15px;
  }
  #tabela_links{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
  }
#imagem_html{
    position: absolute;
    left: 20px;
    top: 2460px;
}
#desejamos{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 620px;
    top: 2500px;
}
#imagem_css{
    position: absolute;
    left: 1535px;
    top: 2460px;
}
.segundo_quadrado{
    border: 2px;
    background-color: bisque;
    padding: 110px;
}
